@import "settings";
@import "foundation";


.first-col {
    background: red;
    min-height: 400px;
}

.second-col{
    background: pink;
    min-height: 400px;
}

a.button.very successful{
    background-color: aqua;


}