
.wizcontainer {
	background-image: url("../img_files/bg.png");	
}

.bubble 
{
margin-left: auto;
margin-right: auto;
position: relative;
width: 250px;
height: 120px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 2px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 110px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 16px 16px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
bottom: -18px;
left: 109px;
}